body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body .template {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ffffe0));
  background: -webkit-linear-gradient(top, #fff 0%, #ffffe0 100%);
  background: -moz-linear-gradient(top, #fff 0%, #ffffe0 100%);
  background: -o-linear-gradient(top, #fff 0%, #ffffe0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #ffffe0 100%);
  background: linear-gradient(top, #fff 0%, #ffffe0 100%);
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body .helper {
  border: 1px solid #5b83ad;
}
canvas {
  background: #5b83ad;
}
