blue = #5B83AD
yellow = #FFFFE0

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

  .template
    background linear-gradient(top, white, yellow)
    border-radius bottom 10px

  .helper
    border 1px solid blue

canvas
  background blue
